go 1.26.9

use (
	./api
	./infra
	./services/api-gateway
	./services/auth-service
	./services/inventory-service
	./services/notification-service
	./services/order-service
	./services/product-service
	./services/user-service
)
